fastapi
uvicorn[standard]
python-dotenv
docling
nltk
sentence-transformers
scikit-learn
numpy
chromadb
rank-bm25
psycopg[binary]
pgvector
groq
redis
langdetect
tiktoken
pydantic-settings
asyncpg
httpx
tenacity
slowapi
pytest
streamlit
